<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	
	<appender name="CAMEL-FILE-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/camel_cartola_banco.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>camel_demo_log.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSS} %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="cl.devster.camel" level="ALL" additivity="false">
		<appender-ref ref="CAMEL-FILE-LOG" />
	</logger>	

</configuration>